body
{
    margin: 0;
}

.mail_box
{
	width: 700px;
	margin: 0 auto;
}

.head_form_text
{
	margin: 15px auto;
	font: 36px/42px "Open Sans";
    color: #333;
    font-weight: 300;
	position: relative;
	text-align: center;
}
.head_form_text::before
{
    content: url("../images/line-left.png");
    position: absolute;
	bottom: 13px;
	left: 0px;
	
}

.head_form_text::after
{
    content: url("../images/line-left.png");
    position: absolute;
	bottom: 13px;
	left: 500px;
	
}

.form
{
	width: 100%;
	margin: 0 auto;
}

.form_container label
{
  font: 400 20px/1 'Open Sans', sans-serif;
  color: #333;
  display: block;
  margin-bottom: 8px;
}
.form_item
{
  margin-top: 31px;
  margin-left: 2px;
}

.form_container
{
    margin: 0 auto;
    padding: 46px auto;
}

.label_after
{
	position: relative;
}

.label_after::after
{
    font: 400 20px/1 'Open Sans', sans-serif;
    color: red;
    content: "*";
    position: relative;	
}

.cell
{
    width: 517px;
    height: 44px;
    font: 400 15px/1 'Open Sans', sans-serif;
    color: #333;
    border: 2px solid #c7c7c7;
    border-radius: 3px;
    padding-left: 19px;
}

.new-select-style select
{
  width: 540px;
  height: 50px;
  font: 400 18px/1.2 'Open Sans', sans-serif;
  color: #333;
  border: 2px solid #a6a6a6;
  background: transparent;
  -webkit-appearance: none;
  border-radius: 5px;
  padding: 0 0 0 16px;
}

.arrow_image
{
  position: absolute;
  top: 20px;
  right: 18px;
} 
  
/*.clear
{
    clear: both;
}

.menu_top
{
	width: 960px;
    height: 50px;
    margin: 0 auto;
}
.menu_top ul 
{
    list-style: none;
    margin: 0;
    padding-left: 0;
    height: 50px;
}
.menu_top li
{
    display: inline-block;
    height: 50px;
}
.menu_top_button
{
    text-align: center;
    font: 19px Georgia; 
    line-height: 50px;
    color: rgb(51, 51, 51);
	text-decoration: none;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
	float: left;
	display: block;
}
.button_about
{
    width: 123px;
    position: relative;
    padding: 1px 0 0 20px;	
}	

.button_about::before
{
    content: url("../images/about_me_icon.png");
    position: absolute;
    left: 21px;
	top: 2px;
}

.button_about:hover
{
    color: rgb(245, 245, 245);
    background-color: #15a98c;
}

.button_about:hover::before
{
    content: url("../images/about_me_icon_over.png");
    position: absolute;
    left: 21px;
	top: 2px;
}

.button_hobby
{
    width: 150px;
	position: relative;
    padding: 1px 0 0 11px;		
}
.button_hobby::before
{
    content: url("../images/hobby_icon.png");
    position: absolute;
    left: 13px;
	top: 3px;
}

.button_hobby:hover
{
    color: rgb(245, 245, 245);
    background-color: #15a98c;    
}

.button_hobby:hover::before
{
    content: url("../images/hobby_icon_over.png");
    position: absolute;
    left: 13px;	
}

.button_video
{
    width: 234px;
	position: relative;
	left: 1px;
	top: 1px;
}

.button_video::before
{
    content: url("../images/video_icon.png");
    position: absolute;
    left: 7px;
	top: 1px;
}

.button_video:hover
{
    color: rgb(245, 245, 245);
    background-color: #15a98c; 
}

.button_video:hover::before
{
    content: url("../images/video_icon_over.png");
    position: absolute;
    left: 7px;	
}
.background
{
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    margin: 0 auto;
}

.article
{
    width: 960px;
    margin: 0 auto;
    display: block;
}

.photo
{
    width: 330px;
    height: 350px; 
	display: block;
    border-radius: 5px;  
    float: left;
	margin-top: 210px;
}

.quote
{
    width: 570px;
    margin: 0;
	padding: 235px 0 0 60px;
    display: block;
    float: left;
}

.quote_text
{ 
	font-size: 28px;
    font-family: Georgia;
    color: rgb(255, 255, 255);
    font-style: italic;
    line-height: 1.5;
    text-align: left;
	margin: 0;
}

.sign
{
    font-size: 16px;
    line-height: 42px;
    color: #f5f5f5;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    text-align: left;
}

.header
{
    display: block;
    float: left;
    margin: 0;
	padding: 78px 0 0 60px;
}

.main_header
{
    font: 700 48px/1 Open Sans, sans-serif;
    color: #333333;
    margin: 0;
}
.main_header:after
{
    display: block;
	content: " ";
	width: 60px;
    height: 6px;
    border-radius: 6px;
    background-color: #15a98c;
    margin-top: 27px;
}

.main_block
{
    width: 960px;
    margin: 0 auto;
    display: block;
}

.side_menu
{
    width: 330px;
    display: block;
    padding: 44px 0 0 0;
    float: left;
}

.sidebar_writers
{
    font-size: 24px;
    line-height: 32px;
    color: #15a98c;
    font-family: Open Sans, sans-serif;
    font-weight: 600; 
    text-align: left;
    font-stretch: expanded;
}

.sidebar_films
{
    font-size: 24px;
    line-height: 32px;
    color: #15a98c;
    font-family: Open Sans, sans-serif;
    font-weight: 600; 
    text-align: left;
    font-stretch: expanded;
	margin-top: 44px;
}

.side_menu_bar
{
    font: 19px/32px Georgia;
    color: rgb(85, 85, 85);
    line-height: 1.8;
    text-align: left;
    padding: 0 0 0 21px; 
}

.info
{
    display: block;
    padding: 8px 0 0 59px;
    float: left;
    width: 570px;
}

.hobby_about
{
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    text-align: left;
    margin: 48px 0 16px;   
}

.about
{
    font-size: 19px;
    font-family: Georgia;
    color: rgb(85, 85, 85);
    line-height: 1.684;
    text-align: left;
    margin: 0;
}


.about:last-of-type
{
    margin-bottom: 48px;
}

.link
{
    font: 19px Georgia;
    color: rgb(21, 169, 139);
    text-decoration: underline;
    line-height: 1.684;
    text-align: left;
    position: relative;
    margin-top: 55px;
}

.link::after
{
    content:"→";
    position: absolute;
    left: 120px;
}

.link:hover
{
    font: 19px Georgia;
    line-height: 32px;
    color: #098d72;
}

.film_background
{
	background-color: #f9f9f9;
	margin-top: 103px;
	width:100%;
	padding-bottom: 1px;
}
.film_block
{
    width: 1200px;
	margin: 0 auto;
    font-size: 0;
}

.film_header
{  
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    text-align: left;
    padding: 40px 0 3px;
}

.film_column
{
    width: 285px;
    margin-right: 20px;
    padding: 0;
    display:block;
    vertical-align: top;
	float: left;
}

.film_column:last-of-type
{
    margin-right: 0px;
}

.film_image
{
    width: 285px;
    height: 190px; 
	display: block;
	margin-bottom: 25px;
    border-radius: 5px;
}

.film_title
{
    font-size: 22px;
    font-family: Open Sans, sans-serif;
    color: rgb(51, 51, 51);
    font-weight: 700;
    line-height: 1.455;
    text-align: left;
    margin: 0;
}

.description
{
    font-size: 16px;
    font-family: Georgia;
    color: rgb(85, 85, 85);
    line-height: 1.75;
    text-align: left;
    margin: 17px 0;
}

.all_films
{
    margin: 76px auto;
    width: 220px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    background-color: #15a98c;
    color: #f5f5f5;
    font: 19px 'Georgia';
    display: block;
	
}

.all_films:hover
{
    background-color: #098d71;
}

.footer
{
    width: 100%;
	height:70px;
    background-color: #e8e8e8;
    display: flex;
}

.footer_text
{
    font: 16px Georgia;
    color: #555555;
    margin: auto;
}
*/